body {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin: 0 auto;
	background-color: D8F1D3;
}


/** NAV BAR */
.logo {
    display: inline-block;
    float: left;
    padding-top: 10;
    margin: 10;
    margin-left: 30px;
    color: grey;
}

.item {
    float: left;
    padding-top: 10;
    margin: 10;
    color: grey;
}

div#links {
    margin-left: 850px;
    position: relative;
    float: right;
    display: inline-block;
    margin-right: 40px;
    /* float: left; */
}

div#top-bar {
    width: 100%;
    margin: 0 auto;
    background-color: D8F1D3;
    position: fixed;
    border-bottom-color: grey;
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
}

/** BODY */
div#intro {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.intro-title {
    font-size: 50;
    color: grey;
}

.intro-text {
    color: grey;
}

/** ABOUT PAGE */
div#about {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 100px;
}

.image {
    height: 60%;
    width: 25%;
    border-radius: 5px;
    margin-left: 200px;
    object-fit: cover;
}

div#about-text {
    /* float: left; */
    display: inline-block;
    width: 30%;
    margin-top: -440px;
    margin-left: 550px;
}

div#sidebar {
    position: fixed;
    width: 280px;
    height: 100%;
    background-color: D8F1D3;
    transform: translateY(10%);
    transition: .3s;
    margin-top: 30px;
    margin-left: 30px;
}

.side-links {
    margin-bottom: 30px;
    color: grey;
}

div#kim {
    /* float: left; */
    display: inline-block;
}