@import 'https://fonts.googleapis.com/css?family=Arimo|Fira+Sans|Oswald|Roboto+Condensed|Signika';
@import 'https://fonts.googleapis.com/css?family=Oswald:300';

      body { 
        padding-bottom: 70px;
      }

      a {
        color: #ad1f2d;
      }


      
      /* NAVBAR & NAVBAR LINKS */

      @media screen and (max-width: 768px) {
		#logo {
      	margin-top: -10px;
      	}

      	#about {
      	margin-left: 20px;
      	}
		
		#aboutdiv {
			margin-top: -100px;
		}

		/*#titlePage {
        background: url('../images/kbmobile.png');
      	}*/

      	a.icon {
			margin-left: -30px;
      	}

      }


      @media screen and (min-width: 768px) { 
		
		#logo {
			margin-top: 0px;
			margin-left: -40px;
		}

		 .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
  	margin-left: -15px;
		}

		#titlePage {
			background: url('../images/kbbackground.png');
		}

		a.icon {
			margin-left: -25px;
		}

      }


      .navbar {
        border: none;
      }

      .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
  	margin-left: 0px;
		}

      .navbar-default {
        background-color: transparent;
      }

      .navbar-fixed-top {
        top: 10px;
      }

      .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-top: 10px;
        }

      .category {
        text-transform: uppercase;
        font-size: 18px;
      }

      .nav .active {
        border-bottom:2px solid #ad1f2d!important;
      }

      .navbar-default .navbar-nav>.active>a, .navbar-nav>.active>a:hover {
        background-color: transparent;
      }

      /* LANDING PAGE */

      .page {
        width:100%;
      }      

      .titled {
        text-transform: uppercase;
        margin-top: 250px;
      }

      .leading {
        font-family:'Oswald', 'Open Sans', sans-serif;
      }

      #lpTitle {
        margin-bottom: 0px;
      }

      #lpLead {
        margin-bottom: 20px;
      }
      
      #lpDescriptor {
        margin-bottom: 10px;
      }

      #topRow {
        margin-left: 6%;
      }

      #titlePage {
        background-size:cover;
        background-position-y: 30px;
      }


      img.icon {
        width:70%;
      }

      /* WORK PAGE */
      .workTitle {
        text-transform: uppercase;
        font-size: 250%;
        margin-left: .8em;
      }

      .box {
        /*height: 300px;*/
        margin-top: 80px;
      }

      .bottomRow {
        margin-top: 80px;
      }

      .contentContainer {
        margin-top: 30px;
      }

      /* WORK */

      .work {
        margin-top: 80px;
      }

      /* ABOUT */
      .center {
        text-align: center;
      }

      #kim {
        margin-top: 150px;
        float: left;
        height: 250px;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 100px;
      }

      #about {
        width: 90%;
        margin-top: 150px;
      }

      #description {
          margin-top: 30px;
          font-size: 16px;
      }

      #aboutrow {
        margin-top: 80px;
      }

