body {
	font-family: 'Gudea', sans-serif;
	font-weight: 500;
	margin: 0 auto;
	background-color: F9FFF4;
}


/** NAV BAR */
.logo {
    display: inline-block;
    float: left;
    padding-top: 10;
    margin: 10;
    margin-left: 30px;
    color: grey;
}

.item {
    float: left;
    padding-top: 10;
    margin: 10;
    color: grey;
}

div#links {
    margin-left: 850px;
    position: relative;
    float: right;
    display: inline-block;
    margin-right: 40px;
    color: F9FFF4;
    /* float: left; */
}

div#top-bar {
    width: 100%;
    margin: 0 auto;
    background-color: 33312E;
    position: fixed;
    border-bottom-color: grey;
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    z-index: 1;
}

/** HOME PAGE
    HOME PAGEEEEE
    HOME PAGEEEEEEEE */


div#intro {
    top: 300px;
    transform: translateY(-50%);
    text-align: center;
    position: absolute;
}

div#intro-links {
    position: relative;
    top: -120;
    left: 80;
}

#intro-subtitle {
    font-family: 'Gudea', sans-serif;
    color: 33312E;
    font-weight: bolder;
    font-size: 19;
    position: absolute;
    top: 215px;
    width: 100%;
    left: 51%;
    letter-spacing: 4px;
}

.intro-title {
    font-size: 100;
    color: 33312E;
    font-family: 'Pacifico', cursive;
    left: 50%;
    position: relative;
}

.intro-text {
    color: grey;
    font-size: 30px;
    color: 33312E;
}

#spine {
    width: 610;
    height: 4px;
    background-color: 33312E;
    border-radius: 2px;
    position: absolute;
    left: 340;
    top: 275;
}

div#mainicon1 {
    position: absolute;
    height: 125px;
    width: 125px;
    left: 320px;
    top: 200px;
}

div#mainicon2 {
    position: absolute;
    height: 125px;
    width: 125px;
    top: 200px;
    left: 580;
}

div#mainicon3 {
    position: absolute;
    height: 125px;
    width: 125px;
    top: 200px;
    left: 840;
}

img#cornerpic1 {
    position: relative;
    top: -405;
    left: -20;
}


/** ABOUT PAGE
    ABOUT PAGEEEEEE
    ABOUT PAGEEEEEEEEEEEE */

/** ABOUT SECTION */
div#about {
    top: 50%;
    transform: translateY(-32%);
    z-index: 0;
}

.aboutsection {
    width: 100%;
    height: 600px;
    position: relative;
    top: 580;
}

div#about-text {
    float: left;
    display: inline-block;
    width: 45%;
    height: 100%;
    margin-top: -600px;
    margin-left: 700;
    font-size: 20px;
    background-color: F9FFF4;
    padding: 0px 40px 100px 40px;
}

.intro-text {
    color: 33312E;
    font-size: 20px;
    margin-left: 20px;
    width: 90%;
    font-weight: bolder;
}

div#about-title {
    color: 33312E;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'Pacifico', cursive;
}

/** SKILLS SECTION */
#org-section {
    background-color: #386BD1;
}

div#org-text {
    color: #F9FFF4;
    font-size: 100;
    width: 50%;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.78);
    position: relative;
    top: -90;
    left: 550;
}

li {
    background-color: #F9FFF4;
    width: 20%;
    list-style-type: none;
    font-size: 20px;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    color: #386BD1;
    letter-spacing: 1px;
    font-weight: bolder;
    border-color: #C6C6BE;
    border-width: 5px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 21px -9px rgba(97,97,97,1);
    -moz-box-shadow: 10px 10px 21px -9px rgba(97,97,97,1);
    box-shadow: 10px 10px 21px -9px rgba(97,97,97,1);
}

#programmingskills {
    margin-top: -100px;
}

li.progskills {
    margin-left: 200px;
}

#designskills {
    margin-top: -376px;
}

.designskills {
    margin-left: 800px;
}

/* CONTACT SECTION */
.contact-title {
    font-family: 'Pacifico', cursive;
    color: F9FFF4;
    padding-top: 10px;
    width: 80%;
    margin-left: 550px;
    font-size: 100px;
}

.contact-text {
    padding-top: 20px;
    width: 50%;
    font-size: 20px;
    margin-left: 490px;
    font-weight: bolder;
    color: F9FFF4;
    letter-spacing: 1px;
}

#contact-section {
    background-color: #5E534A;
    height: 500px;
}

.image {
    height: 100%;
    width: 70%;
    border-radius: 5px;
    margin-left: -300;
    object-fit: cover;
    margin-top: 0;
}

div#emailbutt {
    background-color: #F9FFF4;
    width: 20%;
    list-style-type: none;
    font-size: 30px;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    color: #5E534A;
    letter-spacing: 1px;
    font-weight: bolder;
    border-color: #C6C6BE;
    border-width: 5px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 21px -9px rgba(97,97,97,1);
    -moz-box-shadow: 10px 10px 21px -9px rgba(97,97,97,1);
    box-shadow: 10px 10px 21px -9px rgba(97,97,97,1);
    font-family: 'Pacifico', cursive;
    border-radius: 60px;
    display: inline-block;
    margin-left: 375px;
}

div#resumebutt {
    background-color: #F9FFF4;
    width: 20%;
    list-style-type: none;
    font-size: 30px;
    margin: 10px;
    padding: 20px 20px 20px 20px;
    color: #5E534A;
    letter-spacing: 1px;
    font-weight: bolder;
    border-color: #C6C6BE;
    border-width: 5px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 21px -9px rgba(97,97,97,1);
    -moz-box-shadow: 10px 10px 21px -9px rgba(97,97,97,1);
    box-shadow: 10px 10px 21px -9px rgba(97,97,97,1);
    font-family: 'Pacifico', cursive;
    border-radius: 60px;
    display: inline-block;
    margin-left: 25px;
}

div#email {
    padding-top: 30px;
}

div#contacticons {
    width: 20%;
    padding-top: 30px;
    margin-left: 625px;
}

img.conicon1 {
    margin: 0px 20px;
}

/** WORK PAGE
    WORK PAGEEEEE
    WORK PAGEEEEEEEE */

div#work {
    position: absolute;
    left: -10px;
    top: -45px;
    background-color: #293DD8;
}

img.wimage {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

div#kb {
    background-color: 33312E;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    line-height: 300px;
    font-family: 'Pacifico', cursive;
    color: F9FFF4;
    font-size: 100px;
}

img.wimageetc {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

div#gitlet {
    position: absolute;
    top: 150px;
    left: 100px;
    height: 600px;
}

div#dbms {
    position: absolute;
    top: 150px;
    left: 750px;
}

div#reddit {
    position: absolute;
    top: 150px;
    left: 425px;
}

div#kband {
    position: absolute;
    top: 150px;
    left: 1075px;
}

.worktext {
    color: 33312E;
    font-size: 20px;
    margin-left: 20px;
    width: 90%;
    font-weight: bolder;
}

div#kb {
    background-color: 33312E;
    height: 300px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    line-height: 300px;
    font-family: 'Pacifico', cursive;
    color: F9FFF4;
    font-size: 100px;
    position: relative;
}


/** SIDEBAR */
div#sidebar {
    position: fixed;
    width: 280px;
    height: 100%;
    transform: translateY(10%);
    transition: .3s;
    margin-top: 30px;
    margin-left: 30px;
    z-index: 1;
}

.side-links {
    margin-bottom: 50px;
    color: F9FFF4;
    z-index: 1;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 900;
    text-decoration: underline;
}

div#kim {
    float: left; 
    display: inline-block;
    margin-left: 200px;
    z-index: 1;
}


